:root {
    --darkgrey: #363333;
    --charcoal-grey: #272121;
    --orange: #E16428;
    --light-pink: #F6E9E9;
}

/*
    PENTRU FONTUL SEGOE UI 

    Black: 
        font-weight: 800;

    Normal:
        font-weight: 400;

    Light:
        font-weight: 200;
*/