html {
    overflow: auto;
}

body {
    height: 100vh;
    color: var(--light-pink);
    padding: 0;
    overflow-y: auto;
}

.home-header {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px var(--charcoal-grey);
}

.home-title {
    text-align:center;
    font-size: clamp(3rem, 8vw, 8rem);
    margin: 0;
    animation: blink .5s;
    opacity: 1;
    transform:translateY(-50%);
    line-height: 4rem;
    padding: 0 20px;
}

.home-subtitle {
    text-align: center;
    color: var(--orange);
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 5rem);
    animation: slide 2s;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}

.home-content:nth-child(even) {
  flex-direction: row-reverse;
}

.home-content .home-content-title {
    font-size: 35px;
    font-weight: 800;
    color: var(--orange);
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-right: 10px;

    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    transition: 1s ease;
    position: relative;
}

.home-content .home-content-title::before {
    content: '⛴';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400px;
    width: 100%;
    height: 100%;
    color: var(--charcoal-grey);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
}

.home-content .home-content-text {
    flex: 6;
    font-weight: 600;
    font-size: 19px;
    padding: 8px 30px;
    background-color: var(--charcoal-grey);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    transition: 1s ease;
}

.home-content .home-content-text p {
    margin: 10px 0;
    text-align: justify;
    text-indent: 20px;
}

#homeLeft1, #homeRight2 {
  transform: translateX(-200%);
}

#homeLeft2, #homeRight1 {
  transform: translateX(200%);
}

#homeRight2 {
  background-color: var(--light-pink);
  color: var(--charcoal-grey);
}

#homeLeft2::before {
  color: var(--light-pink);
  margin-right: 0;
  margin-left: 10px;
}

.home-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.home-icons h2 {
  font-size: 3vw;
  color: var(--orange);
  margin-bottom: 100px;
}

.home-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon-student, .icon-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-student i, .icon-company i {
  font-size: 70px;
}

.icon-student span, .icon-company span {
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

#iconsLeft {
  transform: translateX(-300%);
  transition: .7s ease;
}

#iconsRight {
  transform: translateX(300%);
  transition: .7s ease;
}

/* ============ SCROLLBAR ============ */

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    background-color: var(--charcoal-grey);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 20px;
    width: 5px!important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .ScrollBarTop::-webkit-scrollbar-thumb {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  
  .ScrollBarBot::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
@keyframes blink {
    0%    { opacity: 0; }
    49%   { opacity: 0; }
    50%   { opacity: 1; }
    51%   { opacity: 0; }
    98%   { opacity: 0; }
    99%   { opacity: 1; }
}

@keyframes slide {
    0% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}