body, html {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;

    background-color: var(--darkgrey);
    overflow: hidden;
}

body {
    padding-top: 60px;
}