.nav {
    margin: 0;
}

.profile {
    display: flex;
}

.profile-details {
    flex: 2;
    background-color: var(--charcoal-grey);
    height: 100vh;
    overflow-y:auto;
}

.profile-details::-webkit-scrollbar {
    position: absolute;
    left: 0;
}

.profile-details-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;    
    box-shadow: 2px;
    background-color: var(--charcoal-grey);

    position: sticky;
    top: 0;
}

.profile-details-container img {
    border-radius: 50%;
}

.profile-details-name {
    color: white;
    margin-bottom: 0;
}

.profile-details-subtitle {
    color: var(--orange);
    margin-top: 0;
}

.profile-feedback-container {
    width: 90%;
    margin: 0 auto;
}

.profile-feedback-name {
    margin: 0;
    color: var(--orange);
}

.profile-feedback-date {
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: var(--light-pink);
}

.profile-feedback-text {
    color :var(--light-pink);
}

.profile-settings {
    flex: 6;
    background-color: var(--light-pink);
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.profile-settings-header {
    padding: 20px 0 20px 50px;
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 2px solid orange;
    box-shadow: 0 2px 10px var(--darkgrey);
}

.setting-group {
    width: max-content;
    margin-left: 50px;
    margin-bottom: 20px;
}

.setting-group:last-child {
    margin-bottom: 150px;
}

.setting-group .setting-title {
    margin: 0 0 10px;
}

.setting-group input {
    border-radius: 10px;
    width: 200px;
    padding: 5px 10px;
}

/* SCROLLBAR FOR .profile-settings */

.profile-settings::-webkit-scrollbar {
    width: 5px;
}

.profile-settings::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 20px;
    width: 5px!important;
}

.profile-settings::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkgrey);
}